.comment-block {
	width: 100%;
	padding: 20px;
}

.comment-block .comment {
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 20px;
}

.comment-block .comment .meta {
	font-size: 14px;
	margin-bottom: 10px;
}

.comment-block .comment .meta .name {
	color: black;
}

.comment-block .comment .meta .time, .comment-block .comment .meta .email {
	color: #aaa;
	line-height: 20px;
}

.comment-block .comment .content {
	color: black;
	font-size: 21px;
}

.comment-block .reply * {
	width: 100%;
	margin: 20px 0;
}

.comment-block .reply input, .comment-block .reply textarea {
	font-size: 14px;
	padding: 15px;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5);
	outline: none;
	transition: all .2s ease;
}

.comment-block .reply input:focus, .comment-block .reply textarea:focus {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.comment-block .reply textarea {
	font-size: 18px;
	min-height: 150px;
	resize: none;
}

.comment-block .reply button {
	background-color: rgba(0, 0, 0, 0.8);
	width: initial;
	padding: 10px 30px;
}