{% if meta.source %}
<div class="source-links">
{% for filename in meta.source %}
    <span class="label label-primary">{{ filename }}</span>
{% endfor %}
</div>
{% endif %}

{{ content }}

<head>
  <link rel="stylesheet" href="{{ base_url }}/css/mycomment.css" media="screen" title="no title" charset="utf-8">
</head>

<template id="comment-box-tpl">
	<div class="comment">
		<div class="meta">
			<div>
				<span id="author" class="name">Ryan</span>
				<span id="comment-time" class="time">2016 April 23</span>
			</div>
			<span id="email" class="email">ryan@icloud.com</span>
		</div>
		<div id="content" class="content">
		This post is awesome.
		</div>
	</div>
</template>

<div class="comment-block" >
	<div class="comment" style="display:none">
		<div class="meta">
			<div>
				<span class="name">Ryan</span>
				<span class="time">2016 April 23</span>
			</div>
			<span class="email">ryan@icloud.com</span>
		</div>
		<div class="content">
		This post is awesome.
		</div>
	</div>

	<div class="comment" style="display:none">
    <div class="meta">
			<div>
				<span class="name">Ryan</span>
				<span class="time">2016 April 23</span>
			</div>
			<span class="email">ryan@icloud.com</span>
		</div>
		<div class="content">
		This post is awesome.
		</div>
	</div>

	<div class="reply">
		<textarea id="comment-content-input" placeholder="Your Comments Here..."></textarea>
		<div>
			<input id="author-input" type="text" placeholder="Your Name"></input>
			<input id="email-input" type="text" placeholder="Your Email Address"></input>
			<button class="submit">Submit</button>
		</div>
	</div>
</div>

<div class="statistic-block">
  <div class="count-block">
    <span>Visit Count: </span>
    <span id="visit-count">0</span>
  </div>
  <div class="time-block">
    <span>Last Visited: </span>
    <span id="last-visited"></span>
  </div>
</div>

<div class="fun-btn-box">
  <img src="{{ base_url }}/img/top.png" class="fun-btn" id="move-top-btn"/>
  <img src="{{ base_url }}/img/bottom.png" class="fun-btn" id="move-bottom-btn" />
</div>

<script type="text/javascript" src="{{ base_url }}/js/jquery-1.10.2.min.js"></script>

<script type="text/javascript" src="{{ base_url }}/js/comment.js"></script>
